*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

:root {
    --bg-grey: #3e414a;
    --bg-gold: #c5a52a;
    --font-white: white;
    --font-grey: #c2c2c4;
    --font-gold: #c5a52a;
    --font-black: black;
    --font48: 48px;
    --font28: 28px;
    --font20: 20px;
    --font18: 18px;
    --font14: 14px;
    --font12: 12px;
}


body {
    background-image: url(./bg.png);
}
    .container {
        min-height: 100vh;
        max-width: 1024px;
        justify-content: center;
        margin: 0 auto;
        background-color: white;
        padding: 0px 20px 20px;
        
    }
/* HEADER */

    header {
        width: 100%;
        background-color: var(--bg-gold);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

  
    .top-menu__link {
        text-decoration: none;
        color: var(--font-white);
        font-size: var(--font18);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .top-menu__link:hover {
        color: var(--font-black);
    transition: color 0.5s;
    }

    .burger-line {
        display: none;
        width: 20px;
        height: 2px;
        background: black;
        transition: all 0.8s;
    }
    .humburger-menu__list {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 20px;
        flex-wrap: wrap;
        gap: 30px;

    }

/* Main */ 
    .main-part {
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 10px;

    }

/*Left*/

    .left-part {
        width: 35%;
        background-color: var(--font-gold);
   border-radius: 20px;
        text-align: center;
        align-content: center;
        margin: 0 auto;
    }

    .ava {
        max-width:70%;
       /* border: 4px solid var(--font-gold); */
        border-radius: 50%;
       margin: 20px 0px 40px;
       
        }
        .person {
            text-transform: uppercase;
            text-align: center;
            margin: 30px;
            letter-spacing: 2px;
        }
    
        .name {
            font-size: var(--font28);
        }
    
        .position {
            font-size: var(--font20);
            margin-top: 20px;
        }

        .contacts {
            font-size: var(--font18);
            margin: 0px 10px;
            color: var(--font-white);
            line-height: 2.0;
        }

        .contacts li {
            list-style-type: none;
            text-align: left;
        }
    
        .contacts a {
            text-decoration: none;
            color: var(--font-white);
        }
    
        .contacts a:hover {
            color: var(--font-black);
        }

    
/*right*/

    .right-part {
       width: 70%;
    
      padding: 0px 0px 0px 20px;
    }
  
    .item-title {
        font-size: var(--font20);
        text-transform: uppercase;
        background-color: var(--bg-gold);
        line-height: 2.0;
        text-indent: 1.0rem; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
    margin-bottom: 20px;
    color: var(--font-white);
      
    }

    .item-info {
        line-height: 1.5;
        text-align: justify; /* Выравнивание по ширине */
        font-size: var(--font18);
    }

    .item-list {
        line-height: 1.5;
        font-size: var(--font18);
        
    }
    .skill-item {
        display: flex;
      align-items: center;
    }

    .percent {
        height: 16px;
      width: 20%;
        border: 2px solid var(--bg-gold);
    }

.fff {
    width: 20%;
}
.percent-skills {
    height: 12px;
    background-color: var(--font-gold);
    border-radius: 0 20px 20px 0;
}

.about {
    margin-bottom: 20px;
    text-indent: 1.0rem; /* Отступ первой строки */
}
    .cv-item {
        margin-bottom: 20px;
        color: black;
     
    }

    .cv-item:last-child {
        margin-bottom: 0px;
    }
    
   
    .top_button {
        position: fixed;
        top: 90%;
        right: 15%;
        background-color: var(--bg-gold);
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--font-white)
    }

    .top_button:hover {
        color: var(--font-black)
    }

   
    .code-description {
    margin-bottom: 10px;
    }

    .project_list {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 10px;
    }

    .project_card {
        flex-shrink: 1;
        max-height: 185px;
        width: auto;
cursor: pointer;
overflow: hidden;
position: relative;
    }
    .project_cover  {
        display: none;
        background-color: var(--bg-gold);
        opacity: 90%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0px;
        z-index: 1;
        text-align: center;
        color: #ffffff;
        font-size: var(--font18);
        padding-top: 25%;
    }

    .project_card:hover > .project_cover {
        display: block;
    }

    footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    background-color: var(--bg-gold);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.github-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-white)
}
.github-icon:hover {
    color: var(--font-black)
}
.github-icon img {
    margin-right: 10px;
}
.year {
    color: var(--font-white)
}

.rsschool:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(53deg) brightness(106%) contrast(101%);
}

@media (max-width: 1024px)  {
    .top-menu__link {
        font-size: var(--font16);
    }

    .name {
        font-size: var(--font20);
    }

    .position {
        font-size: var(--font18);
    }

    .item-info {
        font-size: var(--font14);
    }
    .item-title {
        font-size: var(--font18);
}
.contacts {
    font-size: var(--font14);
}

.item-list {
    font-size: var(--font14);
}
.code-description {
    font-size: var(--font14);
}
code {
    font-size: var(--font14);
   
}
@media (max-width: 768px)  {
    html {
        font-size: 90%;
    }

    header {
        min-height: 80px;
        position: fixed;
        top: 0;
        right: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        z-index: 20;
    }


        h1 {
            font-size: 1em;
    }
    h4 {
        font-size: 0.8em;
    }

    h3 {
        font-size: 0.9em;
    }
    .menu {
        position: relative;
    }
    .burger {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .humburger-menu__list {
        display: none;
    }
    .line {
        height: 5px;
        width: 100%;
        background: #ffffff;
        transition: all 0.8s;
    }

    .menu_open .humburger-menu__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: top 1s;
    }

    .menu_open .line-1 {
        transform: rotate(-405deg) translate(-10px, 0px);
        width: 40px;
    }

    .menu_open .line-2 {
        opacity: 0%;
    }

    .menu_open .line-3 {
        transform: rotate(405deg) translate(-20px, -8px);
        width: 40px;
    }

    .humburger-menu__item {
        margin-bottom: 20px;
    }

    .top-menu__link {
        font-size: var(--font18);
    }

    .person {
        margin-top: 80px;
        padding-top: 30px;
    }
}

@media (max-width: 768px)  {

    .container {
        padding: 0px;
    }
    .ava {
        display: none;
        position: absolute;
        top: 0px;
        left: 20px;
        z-index: 50;
        width: 60px;
        height: auto;
        margin: 10px 0px;
    }

    .main-part {
        flex-direction: column;
    }

    .project_card {
        pointer-events: none;
    }
    .left-part {
        width: 100%;
        border-radius: 0px;
    }

    .contacts {
        text-align: center;
    }

    .right-part {
        width: 100%;
        padding: 20px 20px 0px 20px;
    }

    footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    }
}

@media (max-width: 768px)  {
    .project_list {
       flex-wrap: wrap;
    }
}