html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    }

    h1,h2,h3,h4 {
    text-transform: uppercase;
    margin-block-start: 0px;
    margin-block-end: 0px;
    }

    .container {
        padding: 30px;
        margin: 20px auto;
        width: 1024px;
        box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
    }

    header {
        width: 100%;
        padding-bottom: 20px;
    }

    .humburger-menu__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-inline-start: 0px;
        padding: 10px 20px;
        
    }

    .top-menu__link {
        text-decoration: none;
        color: inherit;
        font-size: 1.1em;
        font-weight: bold;
    }

    .top-menu__link:hover {
        text-decoration: underline;
        color: #FAEBD7;
    }
    .burger-line {
        display: none;
        width: 20px;
        height: 2px;
        background: black;
        transition: all 0.8s;
    }
    .main-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    .left-part {
        display: flex;
        flex: 23%;
        flex-direction: column;
        background-color: #FAEBD7;
        padding: 10px;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .left-part h1{
        text-align: center;
    }
    .avatar {
        text-align: center;
    }
    .right-part {
        display: flex;
        flex-direction: column;
        flex: 77%;
        padding: 10px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        
    }

    .ava {
    max-width:70%;
    border-radius: 100px; 
    }
    
    .cv-item {
        padding-bottom: 30px;
        padding-top: 20px;
        color: black;
    }
    h3 {
        letter-spacing: 5px;
    }
    .position {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .name {
        letter-spacing: 5px;
        padding-top: 30px;
    }
  
    .contacts div {
        line-height: 2.0;
        font-size: 0.8em;
    }

    .contacts a {
        text-decoration: none;
        color:black
    }

    ul {
    padding-inline-start: 20px;
    }
    
    pre {
    margin-top: 30px;
    }

    footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.github-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.github-icon img {
    margin-right: 10px;
}

